<section class="featured-events">
  <div class="featured-event">
    <h2>
      <a href="event/23">Event Name</a>
    </h2>
    <p>Event Description goes here</p>
    <p>08/23/2017</p>
  </div>

  <div class="featured-event">
    <h2>
      <a href="event/24">Event Name</a>
    </h2>
    <p>Event Description goes here</p>
    <p>08/23/2017</p>
  </div>

  <div class="featured-event">
    <h2>
      <a href="event/25">Event Name</a>
    </h2>
    <p>Event Description goes here</p>
    <p>08/23/2017</p>
  </div>

  <div class="featured-event">
    <h2>
      <a href="event/26">Event Name</a>
    </h2>
    <p>Event Description goes here</p>
    <p>08/23/2017</p>
  </div>
</section>
