<section class="featured-events">
  <div class="featured-event event-1">
    <h2>
      <a href="event/23">Event Name</a>
    </h2>
    <p class="description">Event Description goes here</p>
    <p class="date">08/23/2017</p>
  </div>

  <div class="featured-event event-2">
    <h2>
      <a href="event/23">Event Name</a>
    </h2>
    <p class="description">Event Description goes here</p>
    <p class="date">08/23/2017</p>
  </div>

  <div class="featured-event event-3">
    <h2>
      <a href="event/23">Event Name</a>
    </h2>
    <p class="description">Event Description goes here</p>
    <p class="date">08/23/2017</p>
  </div>

  <div class="featured-event event-4">
    <h2>
      <a href="event/23">Event Name</a>
    </h2>
    <p class="description">Event Description goes here</p>
    <p class="date">08/23/2017</p>
  </div>
</section>
