<div class="events-list">
  <ol>
    <li>
      <div class="left-details">
        <h3>Event Name</h3>
        <p>Description of the event</p>
      </div>
      <div class="right-details">
        <p>08/23/2017 @ 7:30pm</p>
        <p>$25</p>
      </div>
    </li>
    <li>
      <div class="left-details">
        <h3>Event Name</h3>
        <p>Description of the event</p>
      </div>
      <div class="right-details">
        <p>08/23/2017 @ 7:30pm</p>
        <p>$25</p>
      </div>
    </li>
    <li>
      <div class="left-details">
        <h3>Event Name</h3>
        <p>Description of the event</p>
      </div>
      <div class="right-details">
        <p>08/23/2017 @ 7:30pm</p>
        <p>$25</p>
      </div>
    </li>
  </ol>
</div>
