<div class="homepage-events-filters">
  <h3 class="header">Filter by</h3>

  <select>
    <option>Location</option>
  </select>

  <select>
    <option>Date</option>
  </select>

  <select>
    <option>Category</option>
  </select>

  <button type="button" class="submit-event-button">Submit Event</button>
</div>
