<div class="homepage-events-list">
  <ul class="time-filters">
    <li>
      <a href="#" class="active">Today</a>
    </li>
    <li>
      <a href="#">Tomorrow</a>
    </li>
    <li>
      <a href="#">This Week</a>
    </li>
  </ul>
   <ol>
     {{#each events}}
     <li class="event">
       <div class="left-details">
         <h4>{{name}}</h4>
         <p class="date">{{date}}</p>
         <p class="price">{{price}}</p>

         <p class="description">{{description}}</p>
         
       </div>
     </li>
     {{/each}}
   </ol>

</div>
