.featured-events {
  padding: 20px;

  @include grid-row();

  .featured-event {
    @include grid-column(4);
    height: 200px;
    background-color: #e9edf1;
    padding: 10px;
    margin: 0 10px;
    flex-basis: calc(25% - 20px);
    max-width: calc(25% - 20px);
    border: 1px solid #DFE2E5;

    &:first-of-type {
      margin-left: 0;
      flex-basis: calc(25% - 10px);
      max-width: calc(25% - 10px);
    }

    &:last-of-type {
      margin-right: 0;
      flex-basis: calc(25% - 10px);
      max-width: calc(25% - 10px);
    }

    .date {
      font-size: .8em;
      line-height: 1.2em;
    }
  }
}

.homepage-events {
  padding: 20px;

  @include grid-row();

  .events-container {
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0;
  }

  .homepage-events-list {
    background-color: white;
    padding: 20px;
    border: 1px solid #dfe2e5;
    position: relative;
    margin-top: 40px;

    .time-filters {
      position: absolute;
      top: -38px;
      left: -1px;
    }

    .time-filters li {
      display: inline-block;

      a {
        padding: 10px 20px;
        display: inline-block;
      }

      a.active {
        background-color: #fff;
        border: 1px solid #dfe2e5;
        border-bottom: 1px solid #fff;
      }
    }

    .event {
      border-bottom: 1px solid #DFE2E5;
      padding: 10px 0;

      &:last-of-type {
        border-bottom: 0;
      }

      @include grid-row();

      .left-details {
        @include grid-column(10);
      }

      .right-details {
        @include grid-column(6);
        margin-top: 20px;
        display: inline-block;
        text-align: right;
      }

      .date {
        line-height: 1.6em;
      }

      .price {
        color: #37b048;
        font-weight: bold;
      }

      .description {
        padding-top: 10px;
        font-size: .9em;
      }
    }

    .learn-more-button {
      @include primary-button();
    }

    .add-to-calendar-button {
      @include success-button();
    }
  }

  .homepage-events-filters {
    @include grid-column(4);

    .header {
      margin-bottom: 20px;
    }

    .submit-event-button {
      @include cta-button();
    }
  }
}
