<nav id="site-nav">
  <h1 class="page-title">Title</h1>

  <div class="menu-items">
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/event/123">Event Details</a></li>
    </ul>
  </div>
</nav>
