<nav id="site-nav">
  <div class="content-container">
    <h1 class="page-title">
      <a href="/">Amarillo Events</a>
    </h1>

    <div class="menu-actions">
      <a class="submit-event-button" href="/create-event">Submit an Event</a>
    </div>
  </div>
</nav>
