<section id="event-details-page">
  <div class="content-container">
    <h1>Event Details Page</h1>
       <div class="left-details">
         <h4>{{name}}</h4>
         <p class="date">{{date}}</p>
         <p class="price">{{price}}</p>
         <p class="description">{{description}}</p>
         
       </div>
  </div>
</section>
