<section id="homepage">
  {{> components/homepage/featured-events }}

  <section class="events">
    {{> components/homepage/homepage-events-time-filters }}
    {{> components/homepage/homepage-events-list }}
    {{> components/homepage/homepage-events-filters }}
  </section>
</section>
