<section id="homepage">
  <div class="content-container">
    {{> components/homepage/featured-events }}

    <section class="homepage-events">
      <div class="events-container">
        {{> components/homepage/homepage-events-list }}
      </div>
      {{> components/homepage/homepage-events-filters }}
    </section>
  </div>
</section>
