@import 'reset';
@import 'grid';
@import 'variables';
@import 'mixins';
@import 'typography';

// Components
@import 'components/site-footer';
@import 'components/site-navigation';

@import 'components/homepage';

body {
  background-color: $body-bg-color;
  color: $body-text-color;
  text-align: center;
}

.content-container {
  width: 1280px;
  margin: 0 auto;
  text-align: left;
}

.site-footer {
  background-color: #1b2431;
  // temp
  min-height: 300px;
  padding: 20px;
}
